button {
  font-size: 40px;
  width: 111px;
  padding: 22px;
  border-color: gray;
}

.button-white {
  background-color: #fefefe;
}

.button-red {
  background-color: #9E0522;
  color: white;
  width: 119px;
}

.button-wide {
  width: 333px;
}