.footer-container {
  margin-left: 56px;
  margin-top: 20px;
  display: flex;
}

.footer-icon-container {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.footer-icon-container img {
  margin-right: 7px;
}

.footer-counter {
  font-size: 14px;
  font-weight: bold;
}